<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>CSV Processing App</title>
</head>
<body>

    <div class="container">
        <h1>Attendance Maker</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file">Choose CSV File:</label>
            <input type="file" id="file" name="file" accept=".csv"><br>
            <label for="valid_minutes">Enter valid minutes threshold:</label>
            <input type="number" id="valid_minutes" name="valid_minutes" required><br>
            <div class="radio-group">
                <input type="radio" id="pdf" name="format" value="pdf" checked>
                <label class="radio-label" for="pdf">PDF</label>
                <input type="radio" id="excel" name="format" value="excel">
                <label class="radio-label" for="excel">Excel</label>
            </div>
            <button type="submit">Get Info</button>
        </form>
    </div>

</body>
</html>
